body {
  background-color: #f9f7f7;
}

/* Homepage */
#homepage {
  text-align: center;
  padding: 10%;
}

/* Misdemeanor courts section */
#misdemeanor-courts {
  text-align: center;
}

.court-btn {
  margin: 1rem 0rem;
}
