body {
  background-color: #f9f7f7;
}

/* Homepage */
#homepage {
  text-align: center;
}
.homepage-btn {
  margin: 2%;
}

/* Misdemeanor courts section */
#misdemeanor-courts {
  text-align: center;
}

.court-btn {
  margin: 1rem 0rem;
}
#court-main-page {
  text-align: center;
}
