body {
  background-color: #f9f7f7;
}

.nb_format {
  background-color: #e3f2fd;
}
/* Homepage */
#homepage {
  text-align: center;
}
.homepage-btn {
  margin: 2%;
}
.time-box {
  text-align: right;
}

/* Misdemeanor courts section */
#misdemeanor-courts {
  text-align: center;
}
.startOver-btn {
  text-align: right;
  margin: 1rem 2rem;
}

.court-btn {
  margin: 1rem 0rem;
}
#court-main-page {
  text-align: center;
}

/* Individual Court pages */
#court-info {
  text-align: left;
}
